/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
    /* background-color: white; */
}

body {
    background-color: #f8f8f8;
    background-color:grey;
    text-align: center;
    /* padding-top: 50px; */
}

div {
    display: block;
}
/* form {
} */

/* form input.align1 {
    text-align: center;
}  */

textarea {
    border: 1px solid black;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 80%; /* The width is the width of the web page */
    /* margin-left: 25%; */
    display: inline-block;
}

.enterText {
    height: 250px;
    width: 50%;
}

.wrapper {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    background:rgb(221, 223, 224);
    border: 1px solid black;
}

.wrapper .middle-row {
    width: 100%;
}

.middle-row {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.left-column {
    width: 20%;
    display: inline-block;
}

.right-column {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.middle-column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.text-center {
    text-align: center;
}

.maintitle {
    color: #254ac2;
    font-weight: bold;
    font-size: large;
}


/* #dataTable {
    background-color: lightblue;
}

table, th, td {
  border: 1px solid black;
  background-color: lightblue;
  border-collapse: collapse;
  padding: 5px;
  margin-left: 30%;
  margin-right: 30%;
} */


table {
    /* background-color: lightblue; */
    border: 1px solid black;
    /* border-collapse: collapse; */
    width: 100%;
    font-size: 22px;
}

th, td, tr {
    border-collapse: collapse;
    border: 1px solid black;
    font: 12px Verdana,Arial,Helvetica,sans-serif;
    /* background-color: white; */
}

tr {
    padding: 50px;
}

.texttoparse {
    width: 80%;
    border: 0px;
    background-color: black;
    margin: 0 auto;
    color: white;
}

.center-textarea {
    /* align-items: center; */
    /* vertical-align: baseline; */
    background-color: blue;
}
#textToParse {
    width: 420px;
    height: 183px;
    font-size: 12px;
}

#dataTable {
    /* background-color: black; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
    padding: 15px;
}

.images {
    height: 16px;
    width: 16px;
}

.images img {
    width: 100%;
    height: auto;
}

.example {
    padding: 10px;
}

p {
    font-size: 14px;
    padding: 7px;
}

.example p { 
    font-weight: bolder;
    font-size: 18px;
}


.messageID {
    color: white;
    padding-bottom: 10px;
    width: 100%;
    background-color: black;
    /* text-align: center; */
}

#ipTable {
    background-color: rgb(221, 223, 224);
    
}

#ipTable th {
    padding: 0px;

} 

#ipTable td {
    padding: 0px;
    align-content: center;
    font-size: 16px;
    padding-top: 3px;
}

#footer {
    padding-bottom: 100px;
}